.dist1 {
    margin-top: 150px;
    margin-right: 120px;
    margin-left: 180px;
    font-size: 28px;
    font-weight: bold;
    color: rgb(111, 111, 236);
    margin-bottom: 50px;
}

/* Making .dist1 responsive */
@media (max-width: 1200px) {
    .dist1 {
        margin-right: 100px;
        margin-left: 150px;
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    .dist1 {
        margin-right: 80px;
        margin-left: 120px;
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .dist1 {
        margin-right: 50px;
        margin-left: 50px;
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .dist1 {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 18px;
    }
}

.dist2 {
    font-size: 17px;
    margin-bottom: 40px;
    padding: 0 20px;
    margin-right: 120px;
    margin-left: 180px;
}

/* Making .dist2 responsive */
@media (max-width: 1200px) {
    .dist2 {
        margin-right: 100px;
        margin-left: 150px;
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .dist2 {
        margin-right: 80px;
        margin-left: 120px;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .dist2 {
        margin-right: 50px;
        margin-left: 50px;
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .dist2 {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 13px;
    }
}

.dist2 p {
    margin-bottom: 15px;
}
